<!DOCTYPE html>
<html>

<head>
	<title>Blog </title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W6F8VVR3WH"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-W6F8VVR3WH');
</script>

<body>
	<header>
		<h2>Blog </h2>
		<aside>
			<p><< <a href="../">Back to main</a></p>
			<p><< <a href="../blog">List of blogs</a></p>
		</aside>
	</header>

	<hr>

	<main>
		<h3></h3>
		<p>

		</p>
	</main>
</body>

</html>